/* Remove default styles */
.custom-tabs .nav-item .nav-link {
  color: #8A8D93;
  /* Light text */
  font-weight: 500;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-size: 16px !important;
  padding: 12px 16px;
}

.custom-tabs .nav-item {
  flex: unset;
  text-align: center;
  text-wrap: nowrap;
}

/* Active Tab */
.custom-tabs .nav-link.active {
  color: #3E4A57 !important;
  /* Dark text */
  font-weight: 700;
  border-bottom: 2px solid #284b73 !important;
  /* Blue underline */
  background-color: transparent;
}

/* Hover State */
.custom-tabs .nav-link:hover {
  color: #2B4360 !important;
}

/* Disabled Tabs */
.custom-tabs .nav-link.disabled {
  color: #adb5bd;
  cursor: not-allowed;
}

/* Remove default bootstrap border */
.custom-tabs .nav-tabs {
  border-bottom: 1px solid #d9d9d9;
}

.custom-tabs {
  width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
}