
.form-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.profile-picture-box {
  background-color: #f6f7fa;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  position: relative;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.upload-label {
  position: absolute;
  left: 50%;
  bottom: 48px;
  transform: translateX(-50%);
  background-color: #0d6efd;
  color: white;
  padding: 5px 6px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
}

.upload-info {
  font-size: 12px;
  color: #6c757d;
}

.required {
  color: red;
  margin-left: 3px;
}

.about-char-count {
  font-size: 12px;
  color: #6c757d;
  margin-top: 5px;
}


/* Basic Details Tabes Css */
.profile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.profile-image {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover !important;
  border-radius: 0.375rem !important; /* same as Bootstrap's 'rounded' */
}

.camera-icon {
  position: absolute;
  bottom: 0 !important;
  right: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important ;
  cursor: pointer !important;
}

/* Edit Profile Modal  */


/* Kyc Details  */
.add-file-box {
  width: 180px;
  height: 180px;
  border: 1px dashed #ccc;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.custom-remove-btn {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  padding: 0; /* Keeps it circular */
  
}


.file-name-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;  
  max-width: 100px;    
}

