/* Base styles (default for desktops > 991px) */
/* Umesh Radadiya */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tienne:wght@400;700;900&display=swap');


* {
    font-family: 'Poppins', sans-serif !important;
}

.maiacare-input-field-label {
    font-size: 14px;
    font-weight: 600 !important;
    /* color: var(--color-brand); */
    color: var(--color-radio-lable);
    font-style: semibold;
}

.maiacare-input-field-label::placeholder {
    color: var(--color-radio) !important;
}

.maiacare-input-field {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-brand) !important;
}

.maiacare-input-field::placeholder {
    color: var(--color-radio);
}

.maiacare-input-field-helper-text {
    color: var(--color-sidebar-icon);
    font-size: 14px;
    font-weight: 500;
}

.maiacare-input-field-error {
    font-size: 14px;
    font-weight: 500;
}

.maiacare-radio-wrapper {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-radio);
}

.maiacare-radio-label {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-radio-lable);
}

.basic-detail-text {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-radio-lable);
}

.maiacare-input-field-maxlength-indicator {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-sidebar-icon);
}

.maiacare-input-field:focus {
    outline: none !important;
    box-shadow: none !important;
    /* border: 1px solid #999 !important; grey focus border */
}

.maiacare-button-large {
    font-size: 18px;
    font-weight: 500;
}

.maiacare-button-medium {
    font-size: 16px;
    font-weight: 500;
}

.maiacare-button-small {
    font-size: 14px;
    font-weight: 500;
}

.default-layout {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.default-layout:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.default-layout:focus-visible {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.default-layout:active {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
}

.default-layout:disabled {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    cursor: not-allowed;
}

.outline-layout {
    background-color: #fff;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:hover {
    background-color: #fff;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:focus-visible {
    background-color: #fff;
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

.outline-layout:active {
    background-color: #fff !important;
    color: var(--color-brand) !important;
    border: 1px solid var(--color-brand) !important;
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
}

.outline-layout:disabled {
    background-color: #fff !important;
    color: var(--color-white) !important;
    cursor: not-allowed;
}

.maiacare-phone-input {
    font-size: 16px !important;
    font-weight: 500;
}

.btn-border {
    border-color: 1px solid var(--color-radio-lable) !important;
    height: 40px !important;
}

/* ==================  Profile  / Edit Componet css  =============== */

/* .profile-name {
    color: var(--color-heading);
    font-size: 20px;
} */

.profile-verified-badge {
    font-size: 15px;
    color: var(--color-subtitle-pink);
    font-weight: 600;
}

.profile-sub-title {
    color: var(--color-sidebar-icon);
    font-size: 16px !important;
    line-height: 0;
    font-weight: 400;
}

.profile-title {
    color: var(--color-sidebar-icon);
    font-size: 16px !important;
    font-weight: 400;
}

.profile-member-since {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

.edit-profile-btn {
    border: 1px solid #3E4A57 ;
    color: var(--color-brand);
    font-weight: 500;
    background-color: transparent;
    font-size: 16px;
    padding: 9px 15px;
    border-radius: 8px;
}
.cancel-profile-btn{
        border: 1px solid #3E4A57 ;
    color: var(--color-brand);
    font-weight: 500;
    background-color: transparent;
    font-size: 18px;
    padding: 9px 15px;
    border-radius: 8px;
}
.edit-profile-btn:hover,
.edit-profile-btn:focus,
.edit-profile-btn:active {
    background-color: transparent !important;
    color: var(--color-brand) !important;
    border: 1px solid var(--color-radio-lable) !important;
    /* box-shadow: none !important; */
}

/* Profile Tabes 2nd componet */
.custom-tab .nav-link.active {
    color: var(--color-brand);
    border-bottom: 2px solid var(--color-brand);
    font-weight: 600;
}

.custom-tab {
    border-bottom: 1px solid var(--color-icon-border);
    cursor: pointer;
}

.custom-tab .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #adb5bd;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.profile-card-main-titile {
    color: var(--color-heading);
    font-size: 24px;
    font-weight: 600;
    font-style: semi-bold;
}

.profile-card-boeder {
    border-color: var(--color-icon-border) !important;
}

.my-custom-icon {
    color: var(--color-icon-border) !important;
    /* or other filter or styles */
}

.card-feild {
    color: var(--color-radio-lable) !important;
    font-weight: 600;
    font-size: 18px;
    word-break: break-all !important;
    /* Add this line */
}

.card-university-text {
    color: var(--color-radio-lable) !important;
    /* color: red !important; */
    font-weight: 400;
    font-size: 15px;
    word-break: break-all !important;
}

.card-year {
    color: var(--color-sidebar-icon);
    font-weight: 400;
    font-size: 14px;
    word-break: break-all !important;
}

.about-text {
    color: var(--color-radio-lable) !important;
    font-weight: 400;
    font-size: 17px !important;
}

.check-box input[type="checkbox"] {
    border: 1px solid var(--color-radio);
    box-shadow: none;
    cursor: pointer;
}

.kyc-details {
    color: var(--color-sidebar-icon);
    font-weight: 400;
    font-size: 16px;
}

.modal-bg {
    background-color: #EDF5FF !important;
}

.kyc-modal-subheading {
    color: var(--color-modal-subheading) !important;
}

.last-month {
    border-color: var(--color-icon-border) !important;
    background-color: white !important;
    color: var(--color-brand) !important;
}

.modal-border-color {
    border-color: var(--color-modal-border) !important;
}

.upload-report-data {
    border: 2px dotted var(--color-modal-border) !important;
}

.custom-progress {
    background-color: var(--color-brand) !important;
    /* green color */
}

.file-name {
    color: var(--color-radio-lable) !important;
    font-weight: 600;
    font-size: 14px;
}

.modal-border-dashed {
    border: 2px dashed !important;
    border-color: var(--color-icon-border) !important;
    border-radius: 16px !important;
}

.uploding-complete-text {
    color: var(--color-radio-lable) !important;
    font-size: 14px;
    font-weight: 400;
}

.report-name {
    color: var(--color-radio-lable) !important;
    font-size: 14px;
    font-weight: 600;
}

.Profilephoto-save-take {
    color: var(--color-radio-lable) !important;
    font-weight: 500;
    font-size: 14px;
}


.modal-custom-header {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-modal-heading);
}


/* Media Query: Tablets (991px and below) */
@media (max-width: 991px) {
    .maiacare-input-field-label {
        font-size: 13px;
    }

    .maiacare-input-field {
        font-size: 15px;
    }

    .maiacare-input-field-helper-text,
    .maiacare-input-field-error {
        font-size: 13px;
    }

    .maiacare-radio-label {
        font-size: 14px;
    }

    .basic-detail-text {
        font-size: 14px !important;
    }

    .modal-custom-header {
        font-size: 20px;
    }

    .maiacare-button-large {
        font-size: 16px;
    }

    .maiacare-button-medium {
        font-size: 14px;
    }

    .maiacare-button-small {
        font-size: 12px;
    }

    .modal-heading {
        font-size: 20px !important;
    }

    .brand-text {
        font-size: 14px !important;
    }

    .forget-password {
        font-size: 12px !important;
    }

    .verification-form {
        margin: 20px;
        padding: 40px !important;
    }

    .sub-heading-patient {
        font-size: 14px !important;
    }

    .about-text {
        font-size: 16px !important;
    }

    .profile-card-main-titile {
        font-size: 20px;
    }
}

@media (max-width: 525px) {
    .Consultations-image {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .Consultations-book {
        font-size: 16px !important;
    }
}

/* Optional: Smaller devices like phones (e.g., 575px and below) */
@media (max-width: 575px) {
    .maiacare-input-field-label {
        font-size: 12px;
    }

    .maiacare-input-field {
        font-size: 14px;
    }

    .maiacare-input-field-helper-text,
    .maiacare-input-field-error {
        font-size: 12px;
    }

    /* .maiacare-radio-label {
        font-size: 12px;
    } */

    .basic-detail-text {
        font-size: 12px;
    }

    .modal-custom-header {
        font-size: 18px;
    }

    .maiacare-button-large {
        font-size: 14px;
    }

    .maiacare-button-medium {
        font-size: 12px;
    }

    .maiacare-button-small {
        font-size: 10px;
    }

    .about-text {
        font-size: 15px !important;
    }

    .profile-card-main-titile {
        font-size: 20px;
    }
}

@media (max-width: 375px) {

    .modal-heading {
        font-size: 16px !important;
    }

    .brand-text {
        font-size: 12px !important;
    }

    .login-form {
        padding: 0px !important;
    }

    .verification-form {
        margin: 15px;
        padding: 20px !important;
    }

    .sub-heading-patient {
        font-size: 12px !important;
    }

    .Patient-Details {
        font-size: 18px !important;
    }

    .name-patient {
        font-size: 20px !important;
    }

    .Patient-review {
        font-size: 13px !important;
    }

    .sub-patient {
        font-size: 12px !important;
        padding: 4px 4px !important;
    }

    .about-text {
        font-size: 14px !important;
    }

    .profile-card-main-titile {
        font-size: 18px;
    }

    .Profilephoto-save-take {
        font-size: 12px;
    }
}


.modal-heading {
    color: var(--color-modal-heading);
    font-size: 25px;
    font-weight: 600;
}

.login-heading {
    font-size: 20px;
    color: var(--color-modal-heading);
    font-weight: 600;
}

.brand-text {
    color: var(--color-sidebar-icon);
    font-weight: 500;
    font-size: 16px;
}

.Button-login {
    background-color: var(--color-brand);
    /* e.g., #2b4360 */
    color: var(--color-white);
    /* e.g., #ffffff */
    border: none;
    outline: none;
    box-shadow: none;
    transition: none;
    font-weight: 500;
    font-size: 18px;
}



.Button-login:hover,
.Button-login:focus,
.Button-login:active,
.Button-login:active:focus,
.Button-login.active,
.Button-login.active:focus,
.show>.Button-login.dropdown-toggle {
    background-color: var(--color-brand) !important;
    color: var(--color-white) !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.pass-list {
    color: var(--color-brand);
    font-size: 12px;
}

.pass-list-head {
    color: var(--color-brand);
    font-size: 14px;
}


.setting-head {
    color: var(--color-heading);
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;

}

.heading-patient {
    color: #666B7A;
    font-weight: 500;
    font-size: 12px;
}

.review-patient{
       color: #3E4A57 ;
    font-weight: 600;
    font-size: 14px;
}

.sub-heading-patient {
    color: #131D2A;
    font-size: 16px;
    font-weight: 400;
}

.name-patient {
    color: #131D2A;
    font-size: 24px;
}

.Patient-Details {
    color: #131D2A;
    font-size: 20px;
}

.Patient-review {
    color: #292929 ;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
}

.sub-patient {
    color: #E29578;
    border: 1px solid #E29578;
    font-weight: 400;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
}

.Consultations-book {
    font-weight: 600;
    font-size: 18px;
    color: #292929;
}

.profile-name-font {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-heading);
    line-height: 21px;
}

.image-overlay-text {
    font-size: 35px;
    font-weight: 600;
    color: #223142;
    line-height: 44px;
}

@media screen and (max-width: 1024px) {
    .image-overlay-text {
        font-size: 33px;
    }
}

@media screen and (max-width: 991px) {
    .image-overlay-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .image-overlay-text {
        font-size: 28px;
    }
}


/****************************************** code from doctor start *********************************
**************************************************************************************************************/

.login-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    font-style: SemiBold;
    color: var(--login-font);
}

.login-subtitle {
    font-weight: 400;
    font-size: 18px;
    font-style: Regular;
    line-height: 160%;
    color: var(--font-subtitle);
}

.input-forrgot-password {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-forgot-password);
    font-style: bold;
    cursor: pointer;
}

/* setting accordion */
.accordion-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    font-style: 'SemiBold';
    color: var(--color-heading);
}

.settings-accordion-subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-radio-lable);
}

.password-requirements {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    color: var(--color-radio-lable);

}

.password-requirements.active {
    color: var(--color-profile-name);
}

.forgate-password {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--color-brand);
    cursor: pointer;
}

.your-device-box-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;
}

.your-device-box-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-heading);
    width: 90%;
}

.support-faqs-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;

}

.support-faqs-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-heading);
}

.contact-detail {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #1E293B;
}

/* support accordion */
.support-accordion-header {
    font-size: 16px;
    font-weight: 550;
    line-height: 20px;
    color: var(--color-radio-lable);
    padding: 0 10px;
}

.support-accordion-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #858B95;
    padding: 20px !important;
}

.contact-details-heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.patient-accordion-content-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    color: #B0B4C1;

}

.accordion-title-detail {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-style: SemiBold !important;
    color: var(--color-radio-lable) !important; 
}

.select-profile-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-style: Regular;
    color: var(--color-sidebar-icon);
}

.fertilitiy-assement-accodion-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: var(--color-brand) !important;
}

.dashboard-sub-title {
    color: var(--color-sidebar-icon) !important;
    line-height: 0;
    font-size: 16px !important;
    font-weight: 400 !important;
}

@media screen and (max-width: 1391px) {
    .contact-detail {
        font-size: 13px;
    }

    .support-accordion-header {
        font-size: 15px;
    }
}

@media screen and (max-width: 1366px) {
    .login-title {
        font-size: 32px;
    }

    .accordion-title-detail {
        font-size: 15px;
    }
}

@media screen and (max-width: 1327px) {
    .contact-detail {
        font-size: 12px;
    }
}


@media screen and (max-width: 1250px) {
    .contact-detail {
        font-size: 11px;
    }

    .support-accordion-header {
        font-size: 14px;
    }
}

@media screen and (max-width: 1199px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 12px !important;

    }

    .login-title {
        font-size: 32px;
    }

    .your-device-box-title {
        font-size: 17px;
    }

    .your-device-box-subtitle {
        font-size: 15px;

    }

    .contact-detail {
        font-size: 12px;
    }

    .support-accordion-header {
        font-size: 15px;
    }

}

@media screen and (max-width: 1032px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 12px !important;

    }

    .your-device-box-title {
        font-size: 16px;
    }

    .your-device-box-subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 11px !important;

    }

    .login-title {
        font-size: 30px;
        line-height: 40px;
    }

    .login-subtitle {
        font-size: 17px;
        line-height: 20px;
    }

    .accordion-title {
        font-size: 20px;
    }

    .settings-accordion-subtitle {
        font-size: 13px;
    }

    .forgate-password {
        font-size: 15px;
    }

    .support-faqs-desc {
        font-size: 13px;
    }

    .contact-detail {
        font-size: 11px;
    }

    .support-accordion-header {
        font-size: 13px;
    }

    .support-accordion-content {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 14px !important;

    }

    .login-title {
        font-size: 30px;
        line-height: 35px;
    }

    .contact-detail {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .login-title {
        font-size: 29px;
        line-height: 30px;
    }

    .login-subtitle {
        font-size: 16px;
        line-height: 20px;
    }

    .contact-details-heading {
        font-size: 19px;
    }

    .patient-accordion-content-subtitle {
        font-size: 19px;

    }

}

@media screen and (max-width: 767px) {
    .accordion-title {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 12px !important;

    }

    .login-title {
        font-size: 27px;
        line-height: 30px;
    }

    .login-subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .accordion-title {
        font-size: 17px;
    }

    .settings-accordion-subtitle {
        font-size: 12px;

    }

    .forgate-password {
        font-size: 14px;
    }

    .support-accordion-content {
        font-size: 12px;
    }

    .contact-details-heading {
        font-size: 17px;
    }

    .patient-accordion-content-subtitle {
        font-size: 18px;

    }

    .phisical-assessment-accordion-title-showData {
        font-size: 18px;
    }

    .patient-report-box-title {
        font-size: 17px;
    }
}

@media screen and (max-width: 426px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 12px !important;

    }

    .login-title {
        font-size: 25px;
        line-height: 25px;
    }

    .login-subtitle {
        font-size: 13px;
        line-height: 20px;
    }

    .patient-report-box-title {
        font-size: 16px;
    }

}

@media screen and (max-width: 425px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 11px !important;

    }

    .accordion-title {
        font-size: 16px;
    }

    .forgate-password {
        font-size: 13px;
    }

    .contact-details-heading {
        font-size: 16px;
    }

    .patient-accordion-content-subtitle {
        font-size: 16px;

    }
}

@media screen and (max-width: 375px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 11px !important;

    }

    .accordion-title {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .dashboard-sub-title {
        line-height: 0;
        font-size: 11px !important;

    }

    .accordion-title {
        font-size: 15px;
    }
}

/* code from doctor end */




.phisical-assessment-accordion-title-showData {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.contact-details-emergency {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-style: SemiBold;
    color: var(--font-subtitle);
}

@media screen and (max-width: 1366px) {

    .contact-details-emergency {
        font-size: 13px;
    }

    .phisical-assessment-accordion-showData-box-subtitle {
        font-size: 15px;
    }

    .accordion-title-detail {
        font-size: 15px;
    }
}

.phisical-assessment-accordion-showData-box-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-style: Medium;
    color: var(--color-radio-lable);
}

.accordion-subtitle-detail {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.fertilitiy-assement-accodion-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: var(--color-brand);
}

.patient-report-box-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.phisical-assessment-accordion-item-edit {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: medium;
    color: var(--color-brand);
}

/************************************************** code from doctor end *****************************************
**************************************************************************************************************/
.dashboard-subheader {
    font-size: 31px;
    font-weight: 600;
    line-height: 33px;
    font-style: SemiBold;
    color: var(--color-heading);
}

.dashboard-card-green {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--dashboard-card-green);
}


.dashboard-card-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--color-radio-lable);
}

.dashboard-card-orange {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-style: SemiBold;
    color: var(--login-font);
}

.Upcoming-Consultations-title {
    color: var(--color-heading) !important;
    font-weight: 600;
}

.Upcoming-Consultations {
    color: var(--color-heading) !important;
    font-size: 22px !important;
    font-weight: 500;
}

.consultation-icon-image {
    justify-content: space-between;
}

.btn-outline-success {
    color: #2CB79A !important;
    border-color: #2CB79A !important;
}

.btn-outline-success:hover {
    color: white !important;
}

.btn-outline-danger {
    color: #E85966 !important;
    border-color: #E85966 !important;
}

.btn-outline-danger:hover {
    color: white !important;
}

.required-star {
  color: #E85966;
}
