.profile-card {
  border-radius: 8px;
  padding: 20px;
}

.profile-img {
  /* width: 100%;
  height: 10%; */
  object-fit: cover;
  border-radius: 8px;
}

.profile-name {
  display: flex;
  align-items: center;
  gap: 10px;
}


.profile-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* spacing between rows */
  margin-top: 10px;
}

.detail-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* align-items: center; */
}

.last-month {
  border-radius: 8px !important;
  padding: 8px 13px !important;
}

.profile-card-button {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.profile-card-button img {
  /* optional if you want to style the image inside button */
  width: 17px;
  height: 20px;
}

.edit-del-btn {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
  
}.accordion-button:focus:not(:focus-visible) {
  box-shadow: none !important;
  outline: none !important;
}



/* Document  */
.document-main-border{
  border-radius: 12px;
}
.Download-border{
  width: 48px;
  height: 50px;
}








@media (max-width: 1199px) and (min-width: 1024px) {
.Download-border{
  width: 40px;
  height: 40px;
  
}
}

@media (max-width: 1023) and (min-width: 992px) {
.Download-border{
  width: 38px;
  height: 38px;
  
}
}
@media (max-width: 425px) and (min-width: 320px) {
.Download-border{
  width: 42px;
  height: 45px;
}
}
